<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
</head>
<body>
    <div id="oops">
        Oops...
    </div>
    <div> it seems you've gone down the wrong trail. Let's get back on the <a href="/">path here.</a></div>

</body>